body {
    margin: 0px;
 }
 
 nav {
    background-color: rgb(255, 0, 13);
    padding: 1.5rem;
 }
 
 nav ul li {
    display: inline;
    margin: 1.5rem;
    color: white;
 }
 
 figure {
    margin: 0px;
 }
 
 section {
    background-color: #efefef;
    width: 500px;
    margin: 0 auto;
 }
 
 footer {
    margin-bottom: 100px;
 }

 .green {
     color: green;
 }

 .blue{
     color: blue;
 }

 .red{
     color:red;
 }

 .orange{
     padding: 2rem;
     margin: 3rem;
     color: orange;
 }

 #header{
     color: purple;
 }

 a.white{
     color: white;
 }

/* li a {
     color: white;
 }
 /*